# conda_requirements.txt
# Python 3.9 + CUDA 11.7 Environment
# Install using:
# conda install --file conda_requirements.txt

# Core Conda dependencies (must be installed before pip)
python=3.9
pytorch=1.13.0
torchvision=0.14.0
torchaudio=0.13.0
cudatoolkit=11.7

# PyTorch Geometric and CUDA-specific packages
torchinfo=1.8.0
pyg_lib=0.2.0+pt113cu117
torch-scatter=2.1.0+pt113cu117
torch-sparse=0.6.15+pt113cu117
torch-cluster=1.6.0+pt113cu117
torch-spline-conv=1.2.1+pt113cu117
torch-geometric=2.2.0
